<%- include('../partials/header') %>

<h2>Enter a Flight</h2>
<form action="/flights" method="POST">
  <label>Airline:
    <select name="airline">
    <option value="American">American</option>
    <option value="Southwest">Southwest</option>
    <option value="United">United</option>
    </select>
  </label><br>
  <label>Airport:
    <select name="airport">
      <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="DEN" selected>DEN</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
    </select>
  </label><br>
  <label>Flight Number (Between 10 and 9999)
    <input type="number" name="flightNo" required min="10" max="9999">
    </input>
  </label><br>
  <label>Departs:
    <input   type="datetime-local"  name="departs">
</input>
</label><br>
  <button type="submit">Add a Flight</button>
</form>
<p><%= errorMsg %></p>

<%- include('../partials/footer') %>